# Keep all the templates in the repo
!/infra/
!/infra/templates/
!/infra/templates/*.yaml

# Parameters kept locally
/infra/parameters/dev.params.json

# Allow a specific example without secrets
!infra/parameters/example.dev.json

# Cleaning up common trash-files
*.log
*.tmp
.DS_Store
Thumbs.db